@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@400;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-size: 1em;
}

body {
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/***************************************************************
*                           HEADER
****************************************************************/
header {
    border-top: 10px solid #117050;
}

.header-area {    
    height: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left img {
    width: 64px;
    height: 64px;
}

.header-right {
    display: flex;
    align-items: center;
}
.header-right form {
    display: flex;    
    align-items: center;
}
.header-right input {
    outline: none;
    border: 1px solid #b3b3b3;
    padding: 7.1px 10px;
    width: 100%;
    max-width: 260px;
    font-size: 0.9em;
}
.header-right input::placeholder {
    color: #b3b3b3;
}
.header-right form button {
    background-color: transparent;
    border: none;
    margin-left: -39px;
    cursor: pointer;
    height: 36px;
    width: 38px;
}
.header-right form button img {
    width: 14px;
}
.header-right .menu-toggle {
    display: flex;
    align-items: center;
    padding: 10 0px;
    cursor: pointer;
}
.header-right .menu-toggle img {
    width: 24px;
    margin-left: 57px;
}

/***************************************************************
*                           BANNER #1
****************************************************************/
.banner {
    background-position: center;
    background-size: cover;
}
.banner-top {
    background-image: url(../images/bg.jpg);
}
.banner-top .body {
    max-width: 600px;
    padding: 65px 0;
}
.banner-top h1 {
    font-size: 5.8rem;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    line-height: 1.1;
}
.banner-top p {
    margin: 45px 0;
}
.banner-top .thumbs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.banner-top .thumbs img {
    width: 160px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin: 24px 18px;
}
