@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@400;700&display=swap');

/***************************************************************
*                           DEFAULTS
****************************************************************/
* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-size: 1em;
}

body {
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    font-size: 5.8rem;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    line-height: 1.1;
}
h2 {
    font-size: 2.2rem;
    font-family: 'Oswald', sans-serif;
    margin: 15px 0;
    line-height: 1.1;
}

.btn {
    display: inline-block;
    border: 2px solid #117050;
    background-color: #FFF;
    border-radius: 3px;
    color: inherit;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
}
.btn:hover {
    background-color: #454545;
    color: #FFF;
    border-color: transparent;
}

.separator {
    width: 168px;
    height: 22px;
    background-color: #117050;
}

/***************************************************************
*                           HEADER
****************************************************************/
header {
    border-top: 10px solid #117050;
}

.header-area {    
    height: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left img {
    width: 64px;
    height: 64px;
}

.header-right {
    display: flex;
    align-items: center;
}
.header-right form {
    display: flex;    
    align-items: center;
}
.header-right input {
    outline: none;
    border: 1px solid #b3b3b3;
    padding: 7.1px 10px;
    width: 100%;
    max-width: 260px;
    font-size: 0.9em;
}
.header-right input::placeholder {
    color: #b3b3b3;
}
.header-right form button {
    background-color: transparent;
    border: none;
    margin-left: -39px;
    cursor: pointer;
    height: 36px;
    width: 38px;
}
.header-right form button img {
    width: 14px;
}
.header-right .menu-toggle {
    display: flex;
    align-items: center;
    padding: 10 0px;
    cursor: pointer;
}
.header-right .menu-toggle img {
    width: 24px;
    margin-left: 57px;
}

/***************************************************************
*                           BANNER #1
****************************************************************/
.banner {
    background-position: center;
    background-size: cover;
}
.banner-top {
    background-image: url(../images/bg.jpg);
}
.banner-top .body {
    max-width: 600px;
    padding: 65px 0;
}
.banner-top p {
    margin: 45px 0;
}
.banner-top .thumbs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.banner-top .thumbs img {
    width: 160px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin: 24px 18px;
}

/***************************************************************
*                           CONTENT #1
****************************************************************/
.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.content p {
    margin-top: 35px;
    line-height: 1.6;
}

.content-left .content-text {
    padding: 40px 0;
    padding-right: 50px;
    grid-column: 1 / 2;
    max-width:570px;
    margin-left: auto;
}
.content-left .content-partial {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-image: url(../images/f2.jpg);
    background-position: center;
    background-size: cover;
    height: 350px;
}
.content-left .content-image {
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
    background-image: url(../images/f1.jpg);
    background-position: center;
    background-size: cover;
}

/***************************************************************
*                           CONTENT #2
****************************************************************/
.content-right .content-text {
    padding: 40px 0;
    padding-left: 50px;
    grid-column: 2 / 3;
    max-width:570px;
    margin-right: auto;
}
.content-right .content-partial {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: url(../images/f4.jpg);
    background-position: center;
    background-size: cover;
    height: 350px;
}
.content-right .content-image {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    background-image: url(../images/f3.jpg);
    background-position: center;
    background-size: cover;
}

/***************************************************************
*                           CONTENT #3
****************************************************************/
.content-left#new-caramel .content-image {
    background-image: url(../images/f5.jpg);
}

.content-left#new-caramel .text-bg {
    background-image: url(../images/bg2.jpg);
    background-position: left;
}

.content-left#new-caramel .content-text {
    margin: 200px 0 200px auto;
}

/***************************************************************
*                           CONTENT #4
****************************************************************/
.content-left#kindness {
    grid-template-columns: repeat(3, 1fr);
}
.content-left#kindness .content-image {
    background-image: url(../images/bg3.jpg);
    background-position: unset;
    grid-column: 2 / 4;
    grid-row: 1 / span 2;
}

.content-left#kindness .text-bg {
    background-color: #e8e9ee;
}

.content-left#kindness .content-text {
    max-width: 330px;
    margin: 150px 0 150px auto;
}

/***************************************************************
*                           CONTENT #5
****************************************************************/
.content-full {
    background-color: #e8e9ee;
}

.content-full .container {
    grid-column: 1 / span 2;
}

.content-full .content-bg {
    min-height: 500px;
    width: 100%;
    background-image: url(../images/bg4.jpg);
    background-position: center;
    background-size: cover;
}

/***************************************************************
*                           FOOTER
****************************************************************/
footer {
    background-color: #333;
    color: #FFF;
    font-size: 0.9em;
}

footer .container {
    padding: 45px 0;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
